<div class="jumbotron">
  <h1>OpenToDoListAPI</h1>
  <p>OpenToDoListAPI is a resource for sharing list of task from the command line</p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Solves All Your Problems</h2>
    <p>Get more Organized.</p>
  </div>
  <div class="col-md-4">
    <h2>Eliminates Spare Time</h2>
    <p>Just when you thought you had nothing to do, check your list.</p>
  </div>
  <div class="col-md-4">
    <h2>Makes you better at Everything</h2>
    <p>There is a list for that!</p>
  </div>
</div>
